{% extends "base.html" %}

{% block content %}

{% if form.errors %}
  <p>Ваше имя и пароль не подходят. Аопробуйте ещё раз, пожалуйста.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>У вашей учетной записи нет доступа к этой странице. Чтобы продолжить,
пожалуйста, войдите в систему с аккаунта, у которого есть доступ.</p>
  {% else %}
    <p class="plays">Пожалуйста, войдите в аккаунт, чтобы продолжить.</p>
  {% endif %}
{% endif %}

<form class="plays" method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input class="login_button" type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>


{% endblock %}
